################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RpgTowerDefense/v15/Server/sqlite3/db.lock
/.vs/RpgTowerDefense/v15/Server/sqlite3/storage.ide
/.vs/RpgTowerDefense/v15/Server/sqlite3
/.vs/RpgTowerDefense/v15/sqlite3/storage.ide-wal
/.vs/RpgTowerDefense/v15/sqlite3/storage.ide-shm
/.vs/RpgTowerDefense/v15/sqlite3/db.lock
/.vs/RpgTowerDefense/v15/sqlite3/storage.ide
/.vs/RpgTowerDefense/v15/.suo
